body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,ul { text-align: center;
}

ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.option{
  padding: 0 15px;
  border: black solid;
  height: 150px;
  width: 150px;
  text-align: center;
}